<hr>
<div class="container clickable">
  <app-slide-show></app-slide-show>
  <div class="card-deck">
    <div class="card item-profile border rounded" routerLink="/home-template/profile">
      <div class="card-body card-item-body">
        <i class="material-icons background-round">
          <img src="../../assets/images/user2.png" alt="Profile">
        </i>
      </div>
      <div class="card-footer text-center">
        Profile
      </div>
    </div>
    <div class="card item-story border rounded" routerLink="/home-template/created-story">
      <div class="card-body card-item-body">
        <i class="material-icons background-round">
          <img src="../../assets/images/book.png" alt="Created Story">
        </i>
      </div>
      <div class="card-footer text-center">
        Created Story
      </div>
    </div>
    <div class="card item-create border rounded" routerLink="/home-template/create-story">
      <div class="card-body card-item-body">
        <i class="material-icons background-round">
          <img src="../../assets/images/add3.png" alt="Create New Story">
        </i>
      </div>
      <div class="card-footer text-center">
        Create New Story
      </div>
    </div>
    <div class="card item-manage-user border rounded" routerLink="/home-template/manage-user">
      <div class="card-body card-item-body">
        <i class="material-icons background-round">
          <img src="../../assets/images/manageUser.png" alt="Manage User">
        </i>
      </div>
      <div class="card-footer text-center">
        Manage User
      </div>
    </div>
  </div>
</div>