<div class="home-body">
  <div *ngIf="!mobile" class="nav-bar">
    <app-left-nav-bar></app-left-nav-bar>
  </div>
  <div class="align-home">
    <div class="content rounded">
      <!-- background image -->
      <div class="home-bg-img"></div>

      <!-- content -->
      <div class="container clickable center">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="card card-profile">

              <!--Login Icon-->
              <div class="card-avatar">
                <a><img class="img" src="../../assets/images/login.png"></a>
              </div>

              <!--Beginning of Form-->
              <div class="card-body">
                <!--Form element begins-->
                <form name="myForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <div class="col-md-12">
                    <div class="az-form-wrapper clear">

                      <!--Username-->
                      <div class="row col-md-10 offset-1 form-group clear">
                        <label class="control-label" for="username">Username</label>
                        <input type="text" id="username" class="form-control" formControlName="username">
                        <span *ngIf="submitted && loginForm.hasError('required', 'username')"
                          class="jasmine-errored">Name is
                          required</span>
                      </div>

                      <!--Password-->
                      <div class="row col-md-10 offset-1 form-group clear">
                        <label class="control-label" for="password">Password</label>
                        <input type="password" class="form-control id=password" formControlName="password"
                          id="password">
                        <span *ngIf="submitted && loginForm.hasError('required', 'password')"
                          class="jasmine-errored">Password
                          is required</span>
                      </div>

                      <div *ngIf="isError" class="error">
                        <div>The username or password is incorrect.</div>
                      </div>

                      <!--Form Buttons-->
                      <div class="row form-group clear">
                        <div class="col-md-2 offset-md-5">
                          <button type="Submit" value="loginFormValue" class="btn reset-btn">Sign In</button>
                        </div>
                      </div>

                      <div class="row form-group clear">
                        <div class="col-md-4 offset-md-4">
                          <button type="button" class="btn create-account" (click)="createAccount()">
                            Create Account
                          </button>
                        </div>
                      </div>

                    </div>
                  </div>

                </form>
              </div>
              <!--End of Login Form-->
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<ng-template #loginSuccess>
  <div mat-dialog-title class="dialog-title">
    {{status}}
  </div>
  <div mat-dialog-content class="dialog-content">
    <p>{{message}}</p>
  </div>
  <div mat-dialog-actions class="dialog-action">
    <button mat-button class="reset-btn" (click)="closeDialog()" cdkFocusInitial>OK</button>
  </div>
</ng-template>