<div class="card sidebar-card">
  <div class="card-body">
    <p class="header-title">Comic Buzz</p>
    <hr>
    <div class="card-align">
      <img class="app-logo" src="../../assets/images/logo5.png">
    </div>
    <div class="btn-margin">
      <button type="button" class="btn  clickable">
        <span class="badge badge-light">
          <i class="material-icons background-round">
            <img src="../../assets/images/about3.png" alt="about us">
          </i>
        </span>About Us
      </button>
    </div>
    <div class="border rounded side-bar-text">
      <p>Comic book is a popular entertaintment that tell about story. It is no secret that we all loved to read comic books. 
        reading comic books is a unique awesome experience a person should have had in his/her life.</p>
      <p>Join with us and make the space to all the kids to have this wonderful unique
        comic story experiance.</p>
    </div>
  </div>
  <div class="background-img"></div>
</div>